page-home {
  text-align: center;
  .home {
    background: color($colors, secondary);
    color: color($colors, light);
  }

  .location {
    font-size: 5rem;
  }

  .weather-icon {
    font-size: 15rem;
  }

  .temp {
    font-size: 5rem;
  }

  .desc {
    font-size: 4rem;
    margin: 5px auto;
  }

  .toolbar-title {
    text-align: center;
  }

  .tabs-md .tab-button-icon {
    color: #2ad4d4;
  }


}
